@model ContactManagement.Models.ContactViewModel

@{
    ViewBag.Title = "Delete";
}


<div class="form-horizontal">

    <div class="x_title" style="padding-top: 50px;">
        <h2>Delete Contact Details: <small></small></h2>
        <div class="clearfix"></div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.FirstName, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DisplayFor(model => model.FirstName, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.LastName, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DisplayFor(model => model.LastName, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.EmailId, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DisplayFor(model => model.EmailId, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.PhoneNumber, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DisplayFor(model => model.PhoneNumber, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.Status, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (Model.Status)
            {
                <p>Active</p>
            }
            else
            {
                <p>Inactive</p>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.Address, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DisplayFor(model => model.Address, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger a-btn-slide-text">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Delete</strong></span>
                </button>

                <button class="btn btn-warning" type="reset" onclick="location.href='@Url.Action("Index", "Contact")'">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span><strong>Cancel (Home Page)</strong></span>
                </button>

            </div>
        </div>
    }
</div>
